@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="SendEmailCustom"> Отправить дефолтное сообщение по почте</a>
</div>

<h2>User form</h2>
<div id="message"></div>
<div>
    <p>Name: <br />
        <input name="userName" id="userName" />
    </p>
    <p>Age: <br />
        <input name="userAge" id="userAge" type="number" />
    </p>
    <button id="sendBtn">Send</button>
</div>
<script>
    document.getElementById("sendBtn").addEventListener("click", send);
    async function send() {
        const response = await fetch("/api/user", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                name: document.getElementById("userName").value,
                age: document.getElementById("userAge").value
            })
        });
        const message = await response.json();
        document.getElementById("message").innerText = message.text;
    }
</script>
